.form-frame {
    margin: auto;
    max-width: 400px;
    justify-content: center;
    padding: 35px;
}

.form-login {
    margin: auto;
    max-width: 400px;
    justify-content: center;
    padding: 30px;
    margin-top: 100px;
}

.form-input {
    display: block;
    width: 200px;
    font-size: 16px;
    padding: 10px;
}

.button-center {
    margin: auto;
}

.button-bottom {
    margin-top: 15px;
}