.form-frame {
    margin: auto;
    max-width: 500px;
    justify-content: center;
    padding: 100px;
}

.form-input {
     display: block;
    width: 200px;
    font-size: 16px;
    padding: 10px;
}