.header-frame {
    max-width: 1200px;
    margin: 30px auto 30px;
}

.header-page {
    justify-content: center;
    text-align: center;
    font-size: 27px;
    color: black;
    background-color: white;
    padding: 3%;
}