body {
	background-color: #2F4858;
	color: #FFF;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

a:link    { color: #fff; text-decoration: none !important;}
a:visited { color: #fff; }
a:active  { color: #fff; }
a:hover   { color: #fff; }

