body {
	//background-color: #2F4858;
	background-color: #8533ff;
	color: #FFF;
	//background-image: url('http://localhost:3000/Herb1.png');
	background-repeat: no-repeat;
	background-position: center;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	//font-family: Helvetica, Arial, sans-serif;
}

a:link    { color: #fff; text-decoration: none !important;}
a:visited { color: #fff; }
a:active  { color: #fff; }
a:hover   { color: #fff; }

